* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(https://github.com/ksenia171/siteismagic/blob/master/fonts/Bondy/Bondi.otf);
  font-family: Bondi;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(https://github.com/ksenia171/siteismagic/blob/master/fonts/Robotocondensed/Robotocondensed.woff);
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(https://github.com/ksenia171/siteismagic/blob/master/fonts/Robotocondensed/Robotocondensedbold.woff);
  font-family: Roboto Condensed;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url(https://github.com/ksenia171/siteismagic/blob/master/fonts/Robotocondensed/Robotocondensedlight.woff);
  font-family: Roboto Condensed;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  src: url(https://github.com/ksenia171/fonts/blob/master/OpenSans-Regular.woff);
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(https://github.com/ksenia171/fonts/blob/master/OpenSans-Bold.woff);
  font-family: OpenSans;
  font-weight: 600;
  font-style: normal;
}

body { 
  font-family: Roboto Condensed, OpenSans, arial, sans-serif;
}

.header-container, .footer-container {
  position: relative;
  width: 100%;
  background-image: linear-gradient(85.75deg, #512E7D 13.96%, #8A6BB1 100.11%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
} 

.tel {
  position: absolute;
  left: calc(50% + 420px);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-decoration: none;
}

.tel:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.logo-link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.logo-link {
  text-decoration: none;
}

.logo-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  background: linear-gradient(to right, #ffffff, #C1D75F); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.site-title {
  font-family: Bondi;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: transparent;
  background: linear-gradient(to right, #ffffff, #C1D75F, #ffffff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

main {
  background: linear-gradient(180deg, #F4F4F4 0%, #F1F1F1 23.81%, #ECEAEA 58.61%);
}

.site-menu {
  display: flex;
  justify-content: center;
  height: 40px;
  background-image: linear-gradient(90deg, #ABBC60 6.68%, #CFE17F 98.68%);
}

.menu-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}

.menu-item {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.menu-item:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

section { 
  margin-left: auto;
  margin-right: auto;
}

.section-title-process {
  color: #8A6BB1;
}

.section-title-process, .section-title-done, .section-title-simple {
  font-family: Bondi;
  font-style: normal;
  font-weight: normal;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  position: relative;
}

.step-number-color-weight, .step-number-color-normal, .step-number-color-light {
  display: flex;
  position: absolute;
  z-index: 3;
  left: 0px;
  top: 0px;
  font-family: Bondi;
  font-weight: normal;
  color: #FFFFFF; 
  justify-content: center;
}

.step-number-color-weight {
  background: #512E7D;
}

.step-number-color-normal {
  background: #8562B1;
}

.step-number-color-light {
  background: #8A6BB1;
}

.step-title-color-weight, .step-title-color-normal, .step-title-color-light {
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  position: absolute;
  z-index: 2;
}

.step-title-color-weight {
  background: #C1D75F;
}

.step-title-color-normal {
  background: #CDE173;
}

.step-title-color-light {
  background: #CFE17F;
}

.step-text {
  position: absolute;
  z-index: 1;
  background: #E4E4E4;
   margin: auto;
}

.step-text-list {
  list-style: none;
}

li:before {
  content: "—";
  margin-right: 3px;
}

.step-text-item {
  font-weight: normal;
  display: flex;  
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #6E6E6E;
}

.link-application {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C1D75F;
  border: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.link-application:hover {
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.section-title-done {
  color: #8562B1;
}

.bigger-link {
  position: absolute;
  left: 10px;
  bottom: 5px;
  text-decoration: none;
}

.bigger-link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.bigger-link-text {
  font-style: bold;
  font-weight: 600;
  font-size: 18px;
  color: #9CB13B;
}

.ready {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  min-height: 160px;
  background: linear-gradient(87.65deg, #512E7D 24.13%, rgba(81, 46, 125, 0.6) 99.87%);
  margin-top: 60px;
}

.ready-conteiner { 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 1100px;
}

.ready-content-conteiner { 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 70%;
  
}

.ready-section-title-conteiner, .ready-section-item-conteiner { 
  width: 24%;
}

.ready-section-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #9CB13B;
}

.ready-content-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.onest-slider-group {
  width: 100%;
  margin-top: 30px;
}
  
.onest-slider-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}
  
.onest-slider-radio-label-img-prev, .slider-radio-label-img-next {
  cursor: pointer;
 }
  
.onest-slider-radio-label-img-prev:hover, .slider-radio-label-img-next:hover, .onest-slider-radio-label-img-prev:activ, .slider-radio-label-img-next:activ {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}  
  
.onest-slider-radio-label-img-prev {
  width: 0; 
  height: 0;
  border-top: 20px solid transparent;
  border-right: 10px solid #ABBC60;
  border-bottom: 20px solid transparent;
}
  
.slider-radio-label-img-next{
  width: 0; 
  height: 0;
  border-top: 20px solid transparent;
  border-left: 10px solid #ABBC60;
  border-bottom: 20px solid transparent;
}
  
  .onest-slider-radio-img {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
  
  .onest-slider-img-conteiner {
    position: relative;
}
  
  .onest-slider-img, .onest-slider-image {
    max-width: 100%;
    height: auto;
}
  
  .onest-slider-radio-group-category {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  .onest-slider-radio-category {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

  .onest-slider-radio-label-category {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8A6BB1;
    border-radius: 5px;
}

  .onest-slider-radio-category:checked + span, .onest-slider-radio-label-category:active + span {
    content: " ";
    text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);
}

.onest-slider-radio-label-name-category {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #FFFFFF;
}

.section-title-simple {
  color: #512E7D;
}

.simple-section-conteiner {
  display: flex;
}

.part-section-title, .right-part-section-title {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #9CB13B;
}

.items-conteiner {
  display: flex; 
}

.item-title {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #512E7D;
}

.item-text-list {
  list-style: none;
  margin-top: 10px;
}

li:before {
  content: "—";
}

.item-text-item, .mail-link, .tel-link  {
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #6E6E6E;
}

.ready-small {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  background: linear-gradient(87.65deg, #512E7D 24.13%, rgba(81, 46, 125, 0.6) 99.87%);
}

.ready-conteiner-small { 
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px); 
}
  
.ready-section-title-small {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #9CB13B;
}
  
.ready-section-item-conteiner-small {
  display: flex;
  flex-direction: column; 
}
  
.ready-content-item-small {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
  
.application-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 424px;
}

.application-radio-group {
  display: flex;
  justify-content: space-between;
}

.application-radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.application-radio-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8A6BB1;
  border-radius: 5px;
}


.application-radio:checked + span, .application-radio:active + span {
  text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);
}

.application-radio-label-name {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #FFFFFF;
}

.application-field-label {
  display: flex;
  align-items: center;
}

.application-field {
  height: 30px;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #B4B4B4;
  box-sizing: border-box;
  border-radius: 5px;
}

.application-textarea {
  display: flex;
  align-items: flex-start;
}

.application-textarea-field {
  height: 160px;
  resize: none;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #B4B4B4;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 3px;
  padding-right: 20px;
  padding-left: 20px;
}

textarea {
  font-family: Roboto Condensed;
} 

.application-field-label:focus, .application-field-label:after {
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.application-field-name, .application-textarea-name {
  font-style: normal;
  font-weight: normal;
  color: #6E6E6E;
  margin-right: 20px;
}

.application-textarea-name {
  padding-top: 4px;
}

.application-field-name:hover, .application-textarea-name:hover {
  content: " ";
  cursor: pointer;}

textarea:-moz-placeholder, textarea::-webkit-input-placeholder { 
  font-style: normal;
  font-weight: 300;
  color: #6E6E6E;
  opacity: 0.6; 
}

.button-send {
  border: 0;
  background: #C1D75F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-send:hover, .button-send:after { 
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.contact-group {
  display: flex; 
  justify-content: space-between;
}

.contact-item, .tel-footer, .mail-footer {
  font-family: Open Sans;
  font-style: normal;
  letter-spacing: 0.1em;
  color: #ffffff; 
}

.tel-footer, .mail-footer, .mail-link, .tel-link  {
  text-decoration: none;
}

.tel-footer:hover, .mail-footer:hover, .mail-link:hover, .tel-link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 


@media  (min-width: 320px) and (max-width: 767px) {
  body {
    min-width: 320px;
}
  
  .header-container, .footer-container {
    padding-bottom: 30px;
}
  
  .tel {
    display: none;
}
  
  .logo-group {
    margin-top: 10px;
    margin-bottom: 30px;
}

  .logo-container {
    width: 33px;
}

  .logo-img {
    margin-left: 3px;
    width: 30px;
} 
  
  .logo-title {
    display: none;
}
  
  .site-title {
    font-size: 24px;
}
  
  .site-menu {
    visibility: hidden;
}
  
  .process, .done {
    width: calc(100% - 40px);
    margin-bottom: 30px;
}
  
  section { 
    min-width: 280px;
    max-width: 727px;
}
  
  .section-title-process, .section-title-done, .section-title-simple  {
    font-size: 22px;
    text-align: center;
}
  
  .steps {
    flex-direction: column;
    width: 100%;
    min-height: 460px;  
    margin-bottom: 30px;
    margin-top: 20px;
}
  
  .step {
    width: 100%;
    min-width: 280px;
    max-width: 727px;
    min-height: 140px;
}
  
  .step:nth-child (n+2) {
    margin-bottom: 15px;
}

  .step-number-color-weight, .step-number-color-normal, .step-number-color-light {
    width: 55px;
    height: 55px;
    left: 0px;
    top: 0px;
    z-index: 3;
    font-size: 32px;
    pading-top: 11.5px;
}

  .step-title-color-weight, .step-title-color-normal, .step-title-color-light {
    font-size: 18px;
    line-height: 20px;
    left: 30px;
    top: 15px;
    min-width: 245px;
    width: 94%;
    max-width: 682px;
    min-height: 55px;
    padding-right: 20px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

  .step-text {
    left: 15px;
    top: 20px;
    max-width: 680px;
    min-width: 250px;
    width: 93%;
}

  .step-text-list {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
}

  .step-text-item {
    font-size: 14px;
    line-height: 18px;
}
  
  .link-application-conteiner {
    justify-content: flex-end;
}

  .link-application {
    min-width: 174px;
    font-size: 14px;
    height: 35px;
    letter-spacing: 0.1em;
    padding-left: 16px;
    padding-right: 16px; 
}
  
  .all-sliders-groups {
    display: none;
}
  
  .ready {
    display: none;
}
  
  .onest-slider-group {
    max-width: 100%;
    margin-top: 30px;
}
  
  
  
  
  .onest-slider-img-conteiner {
    width: 80%;
    max-height: 500px;
    position: relative;
}
  
   .onest-slider-img {
    max-width: 100%;
    height: auto;
}
  
  .onest-slider-radio-group-category {
    flex-wrap: wrap;
    width: calc (100%-40px);
    margin-top: 10px;
    margin-bottom: 20px;
}
  
  .onest-slider-radio-label-category {
    width: 49%;
    height: 20px;
}

  .onest-slider-radio-label-category:nth-child(n+3) {
    margin-top: 10px;
}
  
  .onest-slider-radio-label-name-category {
    font-size: 12px; 
}
  
  .simple {
    width: 100%;
    padding-top: 40px;
}

  .section-title-simple {
     margin-left: 20px;
}
  
  .simple-section-conteiner{
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
}
  
  .simple-one-two-three-conteiner {
    width: calc(100% - 40px);
    margin-left: 20px;
}
  
  .part-section-title {
    font-size: 18px;
}

  .items-conteiner {
    flex-direction: column;
    min-height: 364px;
    width: 100%;
    padding-left: 5%;
}
  
  .item-conteiner-aplcation, .item-conteiner {
    margin-top: 20px;
}
  
  .item-title {
    font-size: 14px;
    line-height: 20px;
}

  .item-text-list {
    padding-left: 10px;
}

  .item-text-item, .mail-link, .tel-link  {
    font-size: 14px;
    line-height: 16px;
}
  
  .done, .ready {   
    margin-top: 20px;
}
  
  .ready-small {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;   
}

  .ready-conteiner-small { 
    flex-direction: column;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}
  
  .link-application-conteiner-small {
    width: 100%;
}
  
  .ready-section-title-small {
    font-size: 18px;
    letter-spacing: 0.1em;
}
  
  .ready-section-item-conteiner-small {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
  .ready-content-item-small {
    font-size: 14px;
    line-height: 16px;
}
  
  .ready-content-item-small:nth-child(n+2) {
    padding-top: 15px;
}
  
  .application-radio-group {
    width: 100%;
}
  
  .application-radio-label-name {
    font-size: 12px;
}

  .part-section-title {
    font-size: 18px;
}

  .right-part-section-title {
    margin-bottom: 20px;
}
  
  .simple-application {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
  .application-radio-group {
    width: 100%;
    flex-wrap: wrap;
}
  
  .application-radio-label {
    flex-direction: column;
    width: 49%;
    height: 20px; 
}
  
  .application-radio-label:nth-child(n+3) {
    margin-top: 10px;
}
  
  .application-field-label, .application-textarea  {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}
  
  .application-field-name, .application-textarea-name {
    font-size: 14px;
    padding-left: 6px; 
    width: 100%;
}
  
  .application-field,  .application-textarea-field {
    width: 100%;
    margin-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
}

  .application-textarea-field {
    height: 90px;
}

  textarea {
    font-size: 14px;
} 

  textarea:-moz-placeholder, textarea::-webkit-input-placeholder { 
    font-size: 14px;
    padding-left: 6px;
}
  
  .button-send {
    margin-top: 15px;
    width: 100%;
    height: 35px;
}

 .footer-container {
    padding-bottom: 15px;
}
  
  .contact-group {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
    
  .footer-container { 
    padding-bottom: 20px;
} 
   
  .contact-group {
    margin-top: 50px;
}
  
  .contact-item, .tel-footer, .mail-footer {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
}
}



@media (min-width: 768px) and (max-width: 1139px) {
  body {
    min-width: 768px;
  }
  
  .header-container, .footer-container {
    padding-bottom: 55px;
}
  
  .tel {
    display: none;
}
  
  .logo-group {
    margin-top: 20px;
    margin-bottom: 40px;
}

  .logo-container {
    width: 68px;
}

  .logo-img {
    margin-left: 18px;
    width: 50px;
} 
  
  .logo-title {
    font-size: 14px;
}
  
  .menu-conteiner {
    padding-left: 20px;
    padding-right: 20px;
}
  
  .site-title {
    font-size: 48px;
}
  
  section { 
    width: calc(100% - 40px);
    min-width: 728px;
    max-width: 1099px;
}
  
  .process {
    margin-top: 40px;
}
  
 .section-title-process, .section-title-done, .section-title-simple {
   font-size: 32px;
}
  
  .steps {
    max-width: 1099px;
    min-width: 728px;
    min-height: 135px;
    max-height: 220px;
    margin-top: 30px;
    margin-bottom: 50px;
}
  
  .step {
    min-width: 235px;
    width: 32.28%;
    min-height: 135px;
}
  
   .step-number-color-weight, .step-number-color-normal, .step-number-color-light {
    min-width: 52px;
    min-height: 52px;
    font-size: 36px;
    padding-top: 4px;
}
  
  .step-title-color-weight, .step-title-color-normal, .step-title-color-light {
    font-size: 18px;
    line-height: 20px;
    left: 40px;
    top: 10px;
    max-width: 399px;
    max-height: 97px;
    min-width: 196px;
    min-height: 55px;
    width: 83.4042%;
    height: 40.7407%;
    padding-right: 15px;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
  .step-name{
    padding-bottom: 15px;
}

  .step-text {
    max-width: 290px;
    min-width: 205px;
    width: 87.2340%;
    left: 15px;
    top: 30px;
}

  .step-text-list {
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
}

  .step-text-item {
    font-size: 12px;
    line-height: 16px;
}
  
  .link-application-conteiner {
    display: flex;
    justify-content: flex-end;
    min-width: 174px;
}
 
  .link-application {
    height: 35px;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding-left: 16px;
    padding-right: 16px; 
}
  
  .done {
    padding-top: 50px;  
}
  
  .all-sliders-groups {
    display: none;
}
  
   aside.ready {
    display: none;
}
  
  .onest-slider-conteiner {
    width: 100%
}
   
  .onest-slider-img-conteiner {
    max-width: 86%;
    max-height: 500px;
}
    
  .onest-slider-radio-group-category {
    margin-top: 10px;
    margin-bottom: 30px;
}
  
  .onest-slider-radio-group-category {
    width: 100%;
}

  .onest-slider-radio-label-category {
    width: 24%;
    height: 30px;
}

  .onest-slider-radio-label-name-category {
    font-size: 15px;
}
  
  .simple {
    width: 100%;
    padding-top: 40px;
}

  .section-title-simple {
    margin-left: 20px;
}
  
  .simple-section-conteiner {
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}
  
  .simple-one-two-three-conteiner {
    width: 100%;
    width: calc(100% - 40px);
    margin-left: 20px;
}
  
  .part-section-title, .right-part-section-title {
    font-size: 24px;
    margin-bottom: 30px;
}

  .items-conteiner {
    justify-content: space-between;
    width: 100%;
}

  .item-conteiner-aplcation {
    width: 36%;
}
  
  .item-conteiner {
    width: 30%;
}
   
  .item-title {
    font-size: 14px;
    line-height: 20px;
}

  .item-text-list {
    padding-left: 10px;
}

  li:before {
    content: "—";
}

  .item-text-item, .mail-link, .tel-link  {
    font-size: 13px;
    line-height: 16px;
}
  
  .ready-small {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;   
}

  .ready-conteiner-small {
    align-items: center; 
    width: calc(100% - 40px); 
}
  
  .ready-section-title-conteiner-small, .link-application-conteiner-small {
    width: 25%;
}
  
  .ready-section-title-small {
    font-size: 24px;
    padding-right: 10px;
}
  
  .ready-section-title-conteiner, .ready-section-item-conteiner {
    width: 21.8%;
}
  
  .ready-section-item-conteiner-small {
    width: 55%;
}
  
  .ready-content-item-small {
    font-size: 13px;
    line-height: 18px;
}
  
  .ready-content-item-small:nth-child(n+2) {
    padding-top: 8px;
}
 
  .simple-application {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
  .application-radio-group {
    width: 100%;
}
   
  .application-field-label, .application-textarea  {
    width: 100%;
    justify-content: flex-end;
}
  
    .application-radio-label {
    width: 24%;
    height: 25px;
}
 
  .application-radio-label-name {
    font-size: 15px;
    
}
  
  .application-field {
    width: 74.588%;
    padding-right: 20px;
    padding-left: 20px;
}

  .application-textarea-field {
    width: 74.588%;
    height: 160px;
}

  textarea {
    font-size: 14px;
} 

  .application-field-name, .application-textarea-name {
    font-size: 14px;
    width: 23.489%;
    text-align:  right;
}

  textarea:-moz-placeholder, textarea::-webkit-input-placeholder { 
    font-size: 14px;
    padding-left: 10px;
}
  .button-send {
    width: 174px;
    height: 35px;
}

  .footer-container {
    padding-bottom: 15px;
}
  
  .contact-group {
    margin-top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
  
   .contact-item, .tel-footer, .mail-footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}  
}



@media (min-width: 1140px) {
  body {
    min-width: 1140px;
}
  
  .header-container {
    padding-top: 30px; 
    padding-bottom: 90px;
}
  
  .logo-group {
    margin-bottom: 40px;
}

  .logo-container {
    width: 116px;
}

  .logo-img {
    margin-left: 23px;
    width: 72px;
} 
  
  .logo-title {
    font-size: 14px;
    letter-spacing: 0.1em;
}
  
  .site-title {
    font-size: 72px;
}
  
  section { 
    width: 1100px;
    padding-top: 60px;
}
  
  .process {
    display: flex;
    flex-direction: column;
}
  
  .section-title-process, .section-title-done, .section-title-simple {
    font-size: 36px;
}
  
  .steps {
    width: 1100px;
    margin-top: 30px;
    margin-bottom: 35px;
}
  
  .step {
    min-width: 360px;
    height: 222px;
}
  
  .step-number-color-weight, .step-number-color-normal, .step-number-color-light {
    width: 100px;
    height: 100px;
    font-size: 72px;
}

  .step-title-color-weight, .step-title-color-normal, .step-title-color-light {
    font-size: 24px;
    line-height: 30px;
    left: 60px;
    top: 22px;
    width: 300px;
    height: 98px;
    padding-right: 20px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
}

  .step-text {
    width: 290px;
    position: absolute;
    left: 30px;
    top: 80px;
}

  .step-text-list {
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 30px;
}

  .step-text-item {
    font-size: 14px;
    line-height: 18px;
}
 
  .link-application-conteiner {
    align-self: flex-end;
}

  .link-application {
    min-width: 166px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding-left: 16px;
    padding-right: 16px; 
}
  
  .all-sliders-groups {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 560px;
    margin-top: 40px;
}

  .main-slider-group {
    height: 100%;
}

  .main-slider-img-conteiner {
    width: 652px;
    height: 540px;
    position: relative;
}

  .main-slider-image { 
    width: 652px;
    height: 540px;
}

  .slider-title-radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

  .slider-radio-group {
    display: flex;
    justify-content: space-between;
}

  .slider-radio-label {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #ABBC60;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
} 

  .slider-radio-label:nth-child(n+2) {
    margin-left: 5px; 
}

  .slider-radio-label:hover {
    content: " ";
    cursor: pointer;
} 

  .slider-radio:checked + span, .slider-radio:activ + span {
     text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);
} 

  .aside-sliders-groups {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 361px;
    height: 567px;
}

  .aside-slider:nth-child(2) {
    align-self:flex-start;
}

  .aside-slider-img-group {
     position: relative;
}

  .slider-title {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-transform: lowercase;
    color: #ABBC60;
}
  
  .onest-slider-group {
    display: none;
}
  
  .ready-small {
    display: none;
    width: 0;
}

  .simple {
    padding-bottom: 80px;
}
  
  .simple-section-conteiner {
    justify-content: space-between;
    width: 1100px;
    
    margin-top: 40px;
}
  
  .part-section-title, .right-part-section-title {
    font-size: 24px;
    margin-bottom: 30px;
}
  
  .items-conteiner {
    flex-direction: column;
    justify-content: space-between;
    min-height: 364px;
}

  .item-title {
    font-size: 18px;
    line-height: 20px;
}

  .item-text-list {
    padding-left: 25px;
}

  li:before {
    content: "—";
}

  .item-text-item, .mail-link, .tel-link  {
    font-size: 14px;
    line-height: 20px;
}
  
  .application-radio-group {
    width: 550px;
}
  
  .application-radio-label {
    width: 24%;
    height: 30px;
}

  .application-radio-label-name {
    font-size: 15px;
}
  
  .application-field {
    width: 552px;
    padding-right: 20px;
    padding-left: 20px;
}

  .application-textarea-field {
    width: 552px;
    height: 160px;
}

  textarea {
    font-size: 14px;
} 

  .application-field-name, .application-textarea-name {
    font-size: 14px;
}

  textarea:-moz-placeholder, textarea::-webkit-input-placeholder { 
    font-size: 14px;
    padding-left: 10px;
}
  
  .button-send {
    width: 166px;
    height: 40px;
}
 
  .footer-container {
    padding-bottom: 40px;  
}
  
  .contact-group {
    margin-top: 120px;
    width: 1100px;
}
  
  .contact-item, .tel-footer, .mail-footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

  .footer-container {
    padding-top: 30px; 
}
}